name: Deploy to Balena

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Deploy
      uses: balena-io/deploy-to-balena-action@v2.0.136
      with:
        balena_token: ${{ secrets.BALENA_TOKEN }}
        fleet: n3uron/n3uron-arm64